workflow-agent/IA-Agente-RH-bot.json
{
  "name": "IA-Agente-RH-bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Contexto Temporal (Hoy es \" + $now.setZone('America/Lima').toFormat('cccc, dd de LLLL de yyyy') + \"). Pregunta del usuario: \" + $json.message.text }}",
        "options": {
          "systemMessage": "\nEres \"HR Buddy\", el asistente virtual de RR. HH. de ChocolaTech. Tu prioridad absoluta es resguardar la privacidad de los datos de los empleados.\n\nPROTOCOLO OBLIGATORIO DE AUTENTICACIÓN:\n1. Ante cualquier consulta sobre vacaciones, banco de horas, modalidad o datos personales, debes ejecutar INMEDIATAMENTE la herramienta \"Search_employee_by_telegram_id\".\n2. SI LA HERRAMIENTA DEVUELVE DATOS: El usuario ya está autenticado de forma segura. Salúdalo cordialmente por su nombre y responde a su duda usando la información devuelta por la base de datos.\n3. SI LA HERRAMIENTA DEVUELVE UN RESULTADO VACÍO (Retorna un arreglo vacío []): Significa que este chat de Telegram no está vinculado a ningún empleado. Detén cualquier entrega de información privada y dile textualmente: \"No reconozco esta cuenta de Telegram en nuestro sistema de RR. HH. Por motivos de seguridad, por favor bríndame tu número de DNI para verificar tu identidad y vincular tu chat corporativo.\"\n\n4. SI EL USUARIO TE DA SU NÚMERO DE DNI: \n   - Primero, debes usar una función interna de lógica para comprobar si ese DNI ya tiene un \"telegram_id\" asignado en la base de datos (revisando la información de la planilla).\n   - SI EL DNI YA TIENE UN TELEGRAM_ID REGISTRADO y NO coincide con el ID del chat actual: Detén el proceso de inmediato y dile amablemente: \"Lo siento, este número de DNI ya se encuentra vinculado a otra cuenta de Telegram activa. Si consideras que es un error, por favor comunícate con el equipo de soporte de RR. HH.\" NO llames a la herramienta \"Associate_Telegram_and_DNI\" en este caso.\n   - SI EL DNI EXISTE Y TIENE EL CAMPO \"telegram_id\" VACÍO (NULL): Llama de inmediato a la herramienta \"Associate_Telegram_and_DNI\" enviando el DNI provisto por el usuario.\n     * Si se ejecuta con éxito, dile: \"¡Identidad verificada! Tu cuenta ha sido vinculada correctamente. Ya puedes consultarme tus saldos de vacaciones o banco de horas.\"\n   - Si la base de datos no arroja ninguna coincidencia con ese DNI, dile que el documento no pertenece a la planilla de ChocolaTech.\n- En caso de que el usuario que te habla ya tenga su dni y telegram_id vinculados en la base de datos y además el telegram_id concuerda con dicho DNI, si por alguna razón el usuario te envia su dni de nuevo, hazle recordar que no es necesario, porque su cuenta ya fue verificada.\n- El telegram_id es unico para cada usuario, una vez que se vincula en la bd con el dni, no deberian existir telegram_id repetidos, es decir, no pueden existir dos personas con dni diferente que te hablen con un mismo telegram_id, les denegarás el acceso a la información por seguridad de los otros usuarios de manera amable. \n\nREGLAS GENERALES:\n- Responde siempre en español de manera profesional y amable.\n- Si hacen preguntas corporativas generales que no requieran datos personales, usa la herramienta \"Simple Vector Store\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        336
      ],
      "id": "a60ee5fc-a161-4964-9d30-9f7418474d1e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        240,
        560
      ],
      "id": "dcb640b4-a8d2-4820-a32c-869c61752374",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "dDptsDCnzlNalG20",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        368,
        560
      ],
      "id": "3ab37ab2-7892-4c8b-b895-96649f6fac2d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Buscar información sobre recursos humanos, vacaciones, rutinas, etc sobre la empresa Chocolatech",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        496,
        560
      ],
      "id": "b62c19ea-6e89-4387-a701-a30c1816460d",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        576,
        768
      ],
      "id": "ae2bc263-9d5a-4cbe-a5d1-09a18c05281c",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "dDptsDCnzlNalG20",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        336
      ],
      "id": "c4d36a77-f8c9-416d-be6b-ca704b689cab",
      "name": "Telegram Trigger",
      "webhookId": "1715ecf7-c793-44a0-8651-816df73baaed",
      "credentials": {
        "telegramApi": {
          "id": "HQZlE5UeiCE5G4wy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        336
      ],
      "id": "68b61429-e02e-4e77-9ad6-de0f832885bc",
      "name": "Send a text message",
      "webhookId": "31d5064a-41d0-4774-a428-b9ae2593884b",
      "credentials": {
        "telegramApi": {
          "id": "HQZlE5UeiCE5G4wy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "empleados",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        784,
        560
      ],
      "id": "4130f8ea-3b88-47fb-a6be-062560245e54",
      "name": "Search_employee_by_Telegram_id",
      "credentials": {
        "supabaseApi": {
          "id": "oqM88TnupjzPXuZj",
          "name": "To_search_by_telegram_id"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "empleados",
        "filterType": "string",
        "filterString": "={{ \"dni=eq.\" + $fromAI('dni_usuario', 'The 8-digit DNI number provided by the user in the conversation', 'string') }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        608,
        592
      ],
      "id": "a452c922-c68b-4746-99f7-e431bb077103",
      "name": "Associate_Telegram_and_DNI",
      "credentials": {
        "supabaseApi": {
          "id": "oqM88TnupjzPXuZj",
          "name": "To_search_by_telegram_id"
        }
      },
      "notes": "Use this tool to link the user's Telegram ID with their corporate account using their DNI number. This tool is ONLY triggered when the user provides their 8-digit DNI for authentication."
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_employee_by_Telegram_id": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Associate_Telegram_and_DNI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dc87af43-ddc3-4a11-8573-ace087b29622",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2072c7e7f0bbc9a1529116b28bd10944a52a5167fe98afbd53184176ba4b92e5"
  },
  "id": "mg7nUxOtF3gU9KcK",
  "tags": []
}